*

!scripts
!scripts/*.applescript
!transforms
!transforms/*.js
!.gitignore
!AGENTS.md
!justfile
!LICENSE
!midi-transform.js
!midi-transform.maxpat
!midi-transform.png
!package.json
!package-lock.json
!README.md
!eslint.config.js
!jest.config.js
!tests
!tests/*.test.js
!tests/setup.js
